/* Common Styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Vollkorn", serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
  }
  
  html {
    font-size: 62.5%;
  }
  
  :root {
    --primary-color: #2b81e4;
    --secondary-color: #eee;
    --white-color: #fff;
    --grey-color: #555;
    --light-grey-color: #777;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: var(--secondary-color);
    margin: 3.5rem;
    box-shadow: 0 1rem 3rem var(--grey-color);
    overflow: hidden;
  }
  /* End of Common styles */
  
  /* Navbar */
  
  /* End of Navbar */
  
  /* Header */
  .header {
    width: 100%;
    height: calc(100vh - 7rem);
    background: linear-gradient(rgba(18, 113, 255, 0.5), rgba(18, 113, 255, 0.3)),
      url(image/header-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    perspective: 100rem;
  }
  
  .header-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.3rem 0.5rem var(--grey-color);
  }
  
  .heading {
    font-size: 5rem;
    color: var(--white-color);
  }
  
  .header-paragraph {
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary-color);
    max-width: 70rem;
    margin: auto;
  }
  
  .logo {
    position: absolute;
    top: 4rem;
    right: 4rem;
  }
  
  .logo h1 {
    display: flex;
  }
  
  .logo h1 span {
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: var(--white-color);
    width: 3.5rem;
    height: 3.5rem;
    margin: .5rem;
    border-radius: 50%;
  }

  .logo h1 span:nth-child(1){
    animation: drop-letters 5s .1s infinite;
  }
  .logo h1 span:nth-child(2){
    animation: drop-letters 5s .2s infinite;
  }
  .logo h1 span:nth-child(3){
    animation: drop-letters 5s .3s infinite;
  }
  .logo h1 span:nth-child(4){
    animation: drop-letters 5s .4s infinite;
  }
  .logo h1 span:nth-child(5){
    animation: drop-letters 5s .5s infinite;
  }
  .logo h1 span:nth-child(6){
    animation: drop-letters 5s .6s infinite;
  }
  .logo h1 span:nth-child(7){
    animation: drop-letters 5s .7s infinite;
  }

  @keyframes drop-letters{
    0%{ transform: translateY(0);}
    10%{transform: translateY(0);}
    15%{transform: translateY(-100%);}
    20%{transform: translateY(0);}
    100%{transform: translateY(0);}
  }

  .header-image{
    width: 35%;
    animation: image-float 150s infinite;
  }
  @keyframes image-float{
    0%{
      transform: translateZ(40rem);
      opacity: 1;
    }
    40%{
      transform: translateZ(-500rem) translateX(150rem);
      opacity: .8;
    }
    70%{
      transform: translateZ(-1500rem) translateX(800rem);
      opacity: .6;
    }
    80%{
      transform: translateZ(-50rem) translateX(100rem);
      opacity: .8;
    }
    100%{
      transform: translateZ(40rem);
      opacity: .1;
    }
  }
  /* End of Header */

  /* Popular tours */
  .popular-tours{
    padding: 5rem 0 10rem 0;
  }

  .popular-tours-heading{
    font-size: 8rem;
    text-align: center;
    margin-bottom: 8rem;
    color: var(--primary-color);
    text-shadow: 0 .1rem .2rem var(--primary-color);
  }

  .cards-wrapper{
    display: flex;
    justify-content: space-evenly;
  }

  .card{
    width: 35rem;
    position: relative;
    perspective: 150rem;
  }

  .card-image{
    width: 100%;
    border-radius: .3rem .3rem 0 0;
  }

  .front-side{
    text-align: center;
    background-color: var(--white-color);
    border-radius: .3rem;
    position: relative;
    z-index: 10;
    opacity: .9;
    transition: opacity .4s, transform .4s, box-shadow .4s;
  }

  .change > .front-side{
    transform: translateZ(-5rem) translateX(3rem);
    box-shadow: 0 2rem 4rem #777;
    opacity: .5;
    z-index: 0;
  }

  .tour-name{
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    right: 1.5rem;
    color: var(--white-color);
    text-shadow: 0 0 1rem #000;
  }

  .card-list{
    width: 80%;
    margin: auto;
    padding: 2rem 0 3rem 0;
  }

  .card-list-item{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--light-grey-color);
    margin: 2rem 0;
    border-bottom: .1rem solid var(--primary-color);
    padding-bottom: 1.4rem;
  }

  .back-side{
    position: absolute;
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    border-radius: .3rem;
    box-shadow: 0 2rem 4rem #777;
    flex-direction: column;
    transform: translateZ(-5rem) translateX(3rem);
    opacity: .5;
    transition: opacity .4s, transform .4s, box-shadow .4s;
  }

  .change > .back-side{
    transform: translateZ(0) translateX(0);
    box-shadow: 0 .5rem 2rem #aaa;
    opacity: .9;
  }

  .tour-price{
    font-size: 5rem;
    font-weight: 300;
    color: var(--white-color);
    margin-bottom: 3rem;
  }

  .card-button{
    color: var(--primary-color);
    background-color: var(--white-color);
    border: none;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    letter-spacing: .2rem;
    border-radius: 5rem;
    cursor: pointer;
  }
  .navigation-button{
    position: absolute;
    top: .5rem;
    left: .5rem;
    padding: .5rem;
    background-color: rgba(255, 255, 255, .8);
    color: var(--light-grey-color);
    border-radius: .3rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;
  }
  /* End of Popular tours */